#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# python
*.pyc

# secrets
*.pem
demo-magic.sh
.tfswitch.toml
.env
.terraform.lock.hcl
